@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('/fonts/PixelOperatorMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--fontSecondary), sans-serif;
  color: var(--colorText);
}

b {
  font-weight: bold;
  font-family: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span,
p {
  margin: 0;
  font-family: inherit;
  color: inherit;
}

a {
  transition: 0.3s ease;
  color: inherit;
  outline: 0;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    color: var(--colorPrimary);
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-size: inherit;
  font-weight: unset;
  font-family: var(--fontPrimary), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--colorBorder);
  margin: 25px 0;
}

svg.withStroke {
  stroke: var(--colorText);
}

svg {
  flex-shrink: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}
