@use 'defaults.scss';
@use 'variables.scss';
@use 'mixins.scss' as *;

.g-h1 {
  font-size: 80px;
  font-weight: bold;
}

.g-h2 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
}

span {
  color: var(--colorText2);
}

p {
  font-size: 25px;
  text-align: justify;
}

.g-content {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 5px;
}

.g-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;

  &.right {
    justify-content: flex-end;
  }
}
