@use 'defaults.scss';
@use 'variables.scss';
@use 'mixins.scss' as *;

.g-h1 {
  font-size: 80px;
  font-weight: bold;
}

.g-h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}

span {
  color: var(--colorText2);
}

p {
  font-size: 20px;
  text-align: justify;
  padding: 10px 0;
}

.g-content {
  max-width: 550px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 5px;
}

.g-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;

  &.right {
    justify-content: flex-end;
  }
}

.socials {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;

  a,
  button {
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-weight: bold;

    &:hover {
      transform: translateY(-10px);
      color: var(--colorPrimary);
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }

  .mute-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(5px);
  }
}
